TURSO_DATABASE_URL=libsql://test-spike-stripe-mdnmdn.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJleHAiOjE3ODc2MDcyOTUsImlhdCI6MTc1NjA3MTI5NSwiaWQiOiIwNWU4YjI0YS01NDY2LTRhZjMtODI1ZS0yNDMzZGNmMjU5OTUiLCJyaWQiOiJmNDdmMmIzMy00OTU1LTQ4YTYtOTk3MS03ZGU0N2E3OTBkYTQifQ.rtm3Ui_4k5qh5dQ0PSXIo-4Kz49EIiC34r0i8SGA_4-kflo307sGvgSEbkq0YkPBpyetjYtLa6ckJx27F7KhBA